.header{
    background-color:#333333;
    color: silver;
}
.buttonsubmit{
    background-color: orange;
    color: white;
    font-size: large;
    border-style: none;
}
.aligntextend{
    text-align-last:end;
}
.submitinput{
    background-color: #1b1a1a;
    color: #85817F;
    border: #85817F 1px solid;
    margin-right:6px;
}
.navstyle{
    background-color: #1b1a1a;
    color: #85817F;
}
nav a{
    text-decoration: none;
    color: #9D9895;
}
.sec1{
    background-color: #464646;
}
.sec2{
    background-color: #333333;
}
.bodycontent .container .mt-3 .row{
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: 0px;
        margin-left: 0px;
}
