<div class="header">
  <div class="container">
      <div class="clearfix pt-4 pb-3">
          <div class="float-right">
              <input type="text" class="submitinput" placeholder="Search Our Website...">
              <button type="submit" class="buttonsubmit">SUBMIT</button>
          </div>
          <div class="float-left">
              <h1>Basic 90</h1>
              <h6>free HTML<sub>5</sub> Website Template</h6>
          </div>
      </div>
      <div class="pb-4">
          <nav class="navbar navbar-expand-lg navstyle">
              <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav">
                      <li class="nav-item active">
                          <a class="nav-link" href="#">TEXT LINK</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#">TEXT LINK</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#">TEXT LINK</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#">TEXT LINK</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#">TEXT LINK</a>
                      </li>
                  </ul>
              </div>
          </nav>
      </div>
  </div>
</div>