<div class="footer">
    <div class="container">
        <div class="footer1 pt-4">
            <div class="row">
                <div class="col-3">
                    <h6 class="linkblock pb-3">LINK BLOCK</h6>
                    <div class="ullist">
                        <li>
                            lorem ipsum dolor sit
                        </li>
                        <li>
                            Amet consectetur
                        </li>
                        <li>
                            Praesent vel sem id
                        </li>
                        <li>
                            Curabitur hendrerit est
                        </li>
                        <li>
                            Sed a nulla urna
                        </li>
                    </div>
                </div>
                <div class="col-3">
                    <h6 class="linkblock pb-3">LINK BLOCK</h6>
                    <div class="ullist">
                        <li>
                            lorem ipsum dolor sit
                        </li>
                        <li>
                            Amet consectetur
                        </li>
                        <li>
                            Praesent vel sem id
                        </li>
                        <li>
                            Curabitur hendrerit est
                        </li>
                        <li>
                            Sed a nulla urna
                        </li>
                    </div>
                </div>
                <div class="col-3">
                    <h6 class="linkblock pb-3">LINK BLOCK</h6>
                    <div class="ullist">
                        <li>
                            lorem ipsum dolor sit
                        </li>
                        <li>
                            Amet consectetur
                        </li>
                        <li>
                            Praesent vel sem id
                        </li>
                        <li>
                            Curabitur hendrerit est
                        </li>
                        <li>
                            Sed a nulla urna
                        </li>
                    </div>
                </div>
                <div class="col-3">
                    <h6 class="linkblock pb-3">LINK BLOCK</h6>
                    <div class="ullist">
                        <li>
                            lorem ipsum dolor sit
                        </li>
                        <li>
                            Amet consectetur
                        </li>
                        <li>
                            Praesent vel sem id
                        </li>
                        <li>
                            Curabitur hendrerit est
                        </li>
                        <li>
                            Sed a nulla urna
                        </li>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="footerbottom p-3">
    <div class="container">
        <div class="clearfix">
            <div class="float-left">
                <small>
                    Copyright <span>&#169;</span>2020-2021-All Rights Reserved
                </small>
            </div>
            <div class="float-right">
                <small>
                    Template by Asim Templates
                </small>
            </div>

        </div>

    </div>
</div>