.a1{
    text-decoration: none;
    color:black;
}
#myInput {
    background-position: 10px 10px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
  }
.last
{
    border: red;
    border-style: solid;
}
.first
{
    border-color: navy;
    border-style: solid;
}
.odd
{
    background-color: lightgreen;
}
.even
{
    background-color: lightblue;
}


div.gfg { 
    margin:5px; 
    padding:5px; 
    width: auto; 
    height: 600px; 
    overflow: auto; 
    text-align:justify; 
} 