<div class="ml-3 mr-3">
  <h1 class="text-center">List of Students</h1>
<button type="button" (click)="openCreate()" class="btn btn-primary ml-4" data-toggle="modal" data-target="#staticBackdrop">
Create Student
</button>
  <input id="myInput" type="text" placeholder="Search..">
  <table class="table" id="indextable">
    <thead>
      <th><a class="a1" href="javascript:SortTable(0,'N');">Id</a></th>
      <th><a class="a1" href="javascript:SortTable(1,'T');">Student Name</a></th>
      <th><a class="a1" href="javascript:SortTable(2,'T');">Father Name</a></th>
      <th><a class="a1" href="javascript:SortTable(3,'T');">Gender</a></th>
      <th><a class="a1" href="javascript:SortTable(4,'T');">Date of Birth</a></th>
      <th><a class="a1" href="javascript:SortTable(5,'T');">Department</a></th>
      <th><a class="a1" href="javascript:SortTable(6,'T');">Address</a></th>
      <th><a class="a1" href="javascript:SortTable(7,'T');">Email Id</a></th>
      <th><a class="a1" href="javascript:SortTable(8,'N');">Age</a></th>
      <th><a class="a1" href="javascript:SortTable(9,'T');">Password</a></th>
      <th><a class="a1" href="javascript:SortTable(10,'T');">Confirm Password</a></th>
      <!-- <th><a class="a1" href="javascript:SortTable(11,'T');">Terms and condition</a></th> -->
      <!-- <th>Actions</th> -->
    </thead>
    <tbody id="myTable">
      <tr *ngFor="let odd = odd; let i =index; let even =even; let l =last; let totalItems = totalrecords; let f =first; let student of D | 
            paginate: { id: 'listing_pagination',itemsPerPage:2, currentPage: page, totalItems: totalRecords }"
        [ngClass]="{first:f,last:l,even:even,odd:odd}">
        <td>{{ student.id }}</td>
        <td>{{ student.sname }}</td>
        <td>{{ student.fname }}</td>
        <td>{{ student.gender }}</td>
        <td>{{ student.date }}</td>
        <td>{{ student.dep }}</td>
        <td>{{ student.address }}</td>
        <td>{{ student.email }}</td>
        <td>{{ student.age }}</td>
        <td>{{ student.pass }}</td>
        <td>{{ student.repass }}</td>
        <td>{{ student.checkbox }}</td>
        <td><button  class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop" (click)="editPopup(student.id)">Edit</button></td>
        <td><button class="btn btn-danger" (click)="onDelete(student.id)">Delete</button></td>
      </tr>
    </tbody>
  </table>

  <pagination-controls id="listing_pagination" maxSize="5" directionLinks="true" (pageChange)="page = $event">
  </pagination-controls>
</div>



<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 *ngIf="editstudent">Edit Student</h2>
        <h2 *ngIf="!editstudent">Create Student</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closepopup()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ng-container *ngIf="showpopup">
          <app-edit [createstudent]="createstudent" [editstudent]="editstudent" [studentId]="studentid">

          </app-edit>
        </ng-container>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closepopup()" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>